@model OdevDbFirst.Models.Product

@{
    ViewData["Title"] = "Ürün Ekle";
}

<h1>Ürün Ekle</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           @* <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <input asp-for="ProductId" class="form-control" />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                @*<input asp-for="CategoryId" class="form-control" />*@
                <select class="form-control" asp-for="CategoryId">
                    @foreach (var item in (List<Category>)ViewBag.Categories)
                    {
                        <option value="@item.CategoryId">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierId" class="control-label"></label>
                @*<input asp-for="SupplierId" class="form-control" />*@
                <select class="form-control" asp-for="SupplierId">
                    @foreach (var item in (List<Supplier>)ViewBag.Suppliers)
                    {
                        <option value="@item.SupplierId">@item.CompanyName</option>
                    }
                </select>
                <span asp-validation-for="SupplierId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitePrice" class="control-label"></label>
                <input asp-for="UnitePrice" class="form-control" />
                <span asp-validation-for="UnitePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@