@model Musteri

<h1>Müşteri Güncelle (<b>@Model.AdiSoyadi</b>)</h1>
<hr />

<div class="container">
    <div class="row">
        <form method="post" asp-action="MusteriDuzenle" asp-controller="Musteri">
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label asp-for="AdiSoyadi" class="form-label"></label>
                <input asp-for="AdiSoyadi" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="Unvan" class="form-label"></label>
                <input asp-for="Unvan" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="EFatura" class="form-label"></label>
                <input asp-for="EFatura" class="form-check-input" type="checkbox">
            </div>
            <div class="mb-3">
                <label asp-for="Sehir" class="form-label"></label>
                <select class="form-select" aria-label="Şehir Seçiniz.." asp-for="Sehir">
                    <option selected>Open this select menu</option>
                    <option value="İstanbul">İstanbul</option>
                    <option value="Ankara">Ankara</option>
                    <option value="İzmir">İzmir</option>
                    <option value="Antalya">Antalya</option>
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="ToplamBorc" class="form-label"></label>
                <input asp-for="ToplamBorc" class="form-control" type="number">
            </div>
            <div class="mb-3">
                <label asp-for="ToplamAlacak" class="form-label"></label>
                <input asp-for="ToplamAlacak" class="form-control" type="number">
            </div>
            <div class="mb-3">
                <label asp-for="Adres" class="form-label"></label>
                <textarea class="form-control" asp-for="Adres" rows="4"></textarea>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Kaydet</button>
                <a asp-action="MusteriListesi" class="btn btn-secondary">Listeye Dön</a>
            </div>
        </form>
    </div>
</div>